.term-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 10px;

  .term-box-inner {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
}
.chat-box {
  width: 40%;
  margin: 10px;
  overflow: scroll;
}
