:global {
  .editable-cell-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
}

.launch-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100px;
}
.launch-btn:hover {
  transform: scale(1.15);
  transition-timing-function: ease-out;
}
